body {
    margin: 20px;
    padding-bottom: 50px;
}

#howto {
    border: 1px solid darkred;
    padding: 20px;
    margin-bottom: 30px;
}

li:last-child {
    margin-bottom: 20px;
}

li {
    list-style-type: none;
}

